* {
    --header-height: calc(50px + 2vw);
    --header-icon-size: min(calc(var(--header-height) * 0.72), 7vw);
    --header-text-size: calc(var(--header-icon-size) * 0.66);
    --header-padding: 0.75vw;
    --link-box-gaps: calc(0.65vw + 4px);
    --info-box-gaps: calc(1.5vw + 0px);
    --link-box-border-radii: 2vw;
    --links-section-ratio: 0.7;
    --category-bar-height: calc(30px + 1.2vw);
    --category-bar-text-height: calc(2.4vw - 5px);

    --header-color: #ddb940;
    --options-pullout-color: #e4c255;
    --category-bar-color: rgb(211, 211, 211);
    --spacer-color: rgb(195, 195, 195);
    --links-section-background-color: rgb(234, 234, 234);
    --info-section-background-color: rgb(223, 223, 223);
    --info-box-color: rgb(194, 194, 194);
    --info-pullout-color: var(--info-box-color);
    --info-pullout-category-bar-color: rgb(205, 205, 205);
    /* --hotline-color: rgb(211, 211, 211); */
    --hotline-color: rgb(238, 210, 119);
    --search-input-background-color: rgb(231, 231, 231);
    --search-input-text-color: rgb(29, 29, 29);
    --search-input-placeholder-text-color: rgb(161, 161, 161);

    --about-button-height: calc(var(--header-height) * 0.75);

    --button-hover: brightness(92.5%);
    --button-active: brightness(85%); 
    --button-selected: brightness(89%);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    margin: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* #header {
    box-shadow: inset 0px 4px 8px 0px rgba(0,0,0,0.25);
} */

#category-bar-wrapper, .dropdown-wrapper, #search-input, .link-box, .info-box, #info-pullout-category-bar-wrapper, .hotline, .clinic, .drop-shadow {
    box-shadow: 0px 0.25vw 0.5vw 0px rgba(0,0,0,0.2);
    /* box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25); */
}

#header {
    position: absolute;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-color);
    /* border-bottom: rgb(200, 200, 200) 1px solid; */
    display: flex;
    align-items: center;
    z-index: 6;
}

#icon {
    position: absolute;
    left: calc(var(--header-padding) * 1.2);
    height: var(--header-icon-size);
    aspect-ratio: 1/1;
    user-select: none;
}

#title {
    position: absolute;
    left: calc(var(--header-padding) * 2 + var(--header-icon-size));
    font-size: var(--header-text-size);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    user-select: none;
}

#search-input {
    position: relative;
    margin: 0 auto;
    padding: 0px;
    border: 0;
    border-radius: calc(var(--header-height));
    width: calc(100% * 0.4);
    height: calc(var(--header-height) * 0.7);
    background-color: var(--search-input-background-color);

    padding-left: 20px;
    font-size: calc(var(--header-height) * 0.3);
    color: var(--search-input-text-color);
}
#search-input::placeholder {
    color: var(--search-input-placeholder-text-color);
}

#options-button {
    position: absolute;
    --size: calc(var(--header-height) * 0.7);
    height: var(--size);
    right: calc((var(--header-height) - var(--size)) * 0.9);
    aspect-ratio: 1/1;
    padding: 3px;
    margin-right: -3px;
    border-radius: 8px;
    background-color: var(--header-color);
    user-select: none;
}

#options-button:hover {
    filter: var(--button-hover);
    cursor: pointer;
}

#options-button:active {
    filter: var(--button-active);
}

#links-section, #info-section {
    position: absolute;
    height: calc(100% - var(--header-height));
    top: var(--header-height);
}

#links-section {
    top: var(--header-height);
    height: calc(100% - var(--header-height));

    overflow: hidden;

    width: calc(100% * var(--links-section-ratio));
    background-color: var(--links-section-background-color);
}

#category-bar-wrapper, #info-pullout-category-bar-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#category-bar, #info-pullout-category-bar {
    width: 100%; 
    height: var(--category-bar-height);
    background-color: var(--category-bar-color);
    overflow: hidden;
}

#info-pullout-category-bar {
    background-color: var(--info-pullout-category-bar-color);
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
}

.category-button-wrapper {
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
}

.category-button, .subcategory-button, .info-pullout-category-button {
    background-color: var(--category-bar-color);

    min-width: calc(100vw * var(--links-section-ratio) * 0.12);
    height: var(--category-bar-height);
    line-height: var(--category-bar-height);
    font-size: var(--category-bar-text-height);
    --category-bar-padding: max(0.75vw, 5px);
    padding-left: var(--category-bar-padding);
    padding-right: var(--category-bar-padding);
    text-align: center;
    user-select: none;

    /* TODO: Make more stuff (like padding for this) based on vw, and make the height of category bar and header not scale so much with vw
        Make the logo and title still resize with header but have a max size, and and the category button text scale with vw independently of header height
        Make search bar scale horizontally the same amount that it does right now, but make it scale not scale vertically (so it matches with the header's height)
        Make info boxes not scale to much vertically with vw, but make sure the text and icons in them still scale the same 
        
        Unrelated: Making search section able to change number of link boxes when window resizes*/
}

.category-button, .info-pullout-category-button {
    overflow: hidden;
    position: relative;

    float: left;
    z-index: 1;
}

.info-pullout-category-button {
    background-color: var(--info-pullout-category-bar-color);
    display: inline-block;
    float: none;
}

.dropdown-wrapper {
    --subcategory-count: 0;

    visibility: hidden;
    position: absolute;
    
    transition: top ease-in-out, visibility step-end;
    --dropdown-transition-duration: 0.1s;
    transition-duration: var(--dropdown-transition-duration);
    top: calc(var(--category-bar-height) * (1 - var(--subcategory-count)));
    z-index: 0;
}

.subcategory-button {
    float: none;

}

.dropdown-wrapper, .subcategory-button:last-child {
    border-radius: 0px 0px 5px 5px;
}

.spacer, .info-pullout-spacer {
    width: 0.2vw;
    float: left;
    position: relative;
    border-top: calc(0.125 * var(--category-bar-height)) solid var(--category-bar-color);
    border-bottom: calc(0.125 * var(--category-bar-height)) solid var(--category-bar-color);

    margin-left: -0.1vw;
    margin-right: -0.1vw;
    background-color: var(--spacer-color);
    height: 75%;
    z-index: 2;
    pointer-events: none;
}

.info-pullout-spacer {
    display: inline-block;
    float: none;
    border-top: calc(0.125 * var(--category-bar-height)) solid var(--info-pullout-category-bar-color);
    border-bottom: calc(0.125 * var(--category-bar-height)) solid var(--info-pullout-category-bar-color);
}

.category-button:hover, .subcategory-button:hover, .info-pullout-category-button:hover {
    filter: var(--button-hover);
    cursor: pointer;
    z-index: 3;
}

.category-button:active, .subcategory-button:active, .info-pullout-category-button:active {
    filter: var(--button-active);
    cursor: pointer;
    z-index: 3;
}

.category-button.selected, .subcategory-button.selected, .info-pullout-category-button.selected {
    filter: var(--button-selected);
    z-index: 3;
}

.category-button-wrapper:hover .dropdown-wrapper {
    transition: top ease-in-out, visibility;
    transition-duration: var(--dropdown-transition-duration);
    visibility: visible;
    top: var(--category-bar-height);
}

#links-wrapper {
    position: absolute;
    z-index: 0;
    top: var(--category-bar-height);
    width: 100%;
    height: calc(100% - var(--category-bar-height));
    overflow-y: scroll;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0px;
}

.links-full-container {
    top: var(--category-bar-height);
    margin: var(--link-box-gaps);
    width: calc(100% - var(--link-box-gaps) * 2);
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: var(--link-box-gaps);
}

.links-row-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: var(--link-box-gaps);
}

.link-box {
    --aspect-ratio: 2/1;
    aspect-ratio: var(--aspect-ratio);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: white;
    flex-grow: 1;
    border-radius: calc(var(--link-box-border-radii) * 5 / var(--boxes-per-row));
    user-select: none;

    transition: 0.05s ease-in-out;
}

.link-box:hover {
    --padding-horizontal: calc(3vw / var(--boxes-per-row));
    --padding-vertical: calc(var(--padding-horizontal) / var(--aspect-ratio));
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
    margin-left: calc(-1 * var(--padding-horizontal));
    margin-right: calc(-1 * var(--padding-horizontal));
    margin-top: calc(-1 * var(--padding-vertical));
    margin-bottom: calc(-1 * var(--padding-vertical));
    
    cursor: pointer;
}

.link-box:active {
    padding: 0px;
    margin: 0px;
    filter: var(--button-active);
}

/* .links-row-container:nth-child(1) .link-box {
    aspect-ratio: 2/1;
} */

/* .link-box-text-container {
    position: relative;
    width: 100%;
    height: 25%;
    top: 75%;
    border-radius: 0 0 var(--link-box-border-radii) var(--link-box-border-radii);
    background-color: rgb(192, 192, 192);
} */

.scroll-arrow {
    --size: 4vw;
    position: fixed;
    width: var(--size);
    aspect-ratio: 1/1;
    bottom: 1%;
    z-index: 0.5;
    user-select: none;
    pointer-events: none;

    transition: bottom 0.1s ease-in;
}

#links-arrow {
    left: calc(50% * var(--links-section-ratio) - var(--size) / 2);
}

#info-arrow {
    left: calc(100% - 50% * (1 - var(--links-section-ratio)) - var(--size) / 2);
}

.scroll-arrow.hidden {
    bottom: calc(0px - 1.5 * var(--size));
}

#info-section {
    width: calc(100% * (1 - var(--links-section-ratio)));
    overflow-y: scroll;
    scrollbar-width: none;
    right: 0px;
    background-color: var(--info-section-background-color);
    z-index: 5;
}

#info-full-container {
    margin: var(--info-box-gaps);
    width: calc(100% - var(--info-box-gaps) * 2);
    height: fit-content;
}

.info-box {
    --height: calc(7vh + 3vw);
    display: flex;
    background-color: var(--info-box-color);
    width: 100%;
    height: var(--height);
    white-space: nowrap;
    /* aspect-ratio: 4/1; */
    border-radius: var(--link-box-border-radii);
    margin-bottom: var(--info-box-gaps);
    color: black;
    text-decoration: none;
    justify-content: center;
    gap: 4%;

    transition: 0.05s ease-in-out;
}

.info-box.info-link-button:hover:not(:active), .info-box.info-pullout-button:hover:not(:active) {
    width: 105%;
    height: calc(var(--height) * 1.05);
    margin-left: -2.5%;
    margin-right: -2.5%;
    margin-top: calc(-1 * var(--height) * 0.05 / 2);
    margin-bottom: calc(var(--info-box-gaps) - var(--height) * 0.05 / 2);
    cursor: pointer;
    /* gap: 8%; */
}

.info-box.selected {
    margin-left: calc(0px - var(--info-box-gaps));
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
    background-color: var(--info-pullout-color);
}

.info-box.info-pullout-button.selected:hover:not(:active) {
    margin-left: calc(0px - var(--info-box-gaps));
}

.info-box.info-link-button:active, .info-box.info-pullout-button:active {
    cursor: pointer;
    filter: var(--button-active);
    width: 100%;
    margin: 0px;
    margin-bottom: var(--info-box-gaps);
    border-radius: var(--link-box-border-radii);
}

.info-image {
    user-select: none;
    object-fit: contain;
    width: 12%;
    float: left;
}

.info-text {
    float: left;
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    user-select: none;
    font-size: var(--default-font-size);

    transition: 0.05s ease-in-out;
}

.info-box:hover:not(:active) .info-text {
    font-size: var(--expanded-font-size);
}

#info-pullout {
    position: absolute;
    background-color: var(--info-pullout-color);
    height: calc(100% - var(--header-height));
    width: calc(100% * var(--links-section-ratio));
    top: var(--header-height);
    left: calc(100% * var(--links-section-ratio));
    transition: left 0.2s ease-in-out, visibility 0.2s step-end;
    visibility: hidden;
    z-index: 4;

    /* TODO: Get rid of this later */
    scrollbar-width: none;
    overflow-y: auto;
}

#info-pullout.pulled-out {
    transition: left 0.2s ease-in-out, visiblity 0.2s;
    visibility: visible;
    left: 0px;
}

.hotline, .clinic {
    --padding: 13px;
    float: left;
    display: flex;
    background-color: var(--hotline-color);
    /* filter: saturate(80%) brightness(110%); */
    border-radius: var(--link-box-border-radii);
    margin-left: var(--link-box-gaps);
    margin-top: var(--link-box-gaps);
    padding: var(--padding);
    width: calc((100% - 4 * var(--link-box-gaps)) / 3 - 2 * var(--padding));
    aspect-ratio: 2.75/1;
    /* align-items: center; */
    gap: 0.35vw;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3vw;
    word-wrap: break-word;
}
.clinic {
    aspect-ratio: 2/1;
}

.hotline-label {
    font-weight: bold;
    font-size: 1.1em;
}

#hotlines-numbers-section, #teen-clinics-section {
    position: absolute;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    width: 100%;
    top: var(--category-bar-height);
    height: calc(100% - var(--category-bar-height));
    height: fit-content;
    overflow: visible;
    padding-bottom: var(--link-box-gaps);

}

.clinic div {
    line-height: 1.1em;
}

.clinic-name {
    /* text-align: center; */
    font-weight: bold;
    font-size: 1.2em;
}
.clinic-city {
    text-decoration: underline;
}

#options-pullout {
    position: absolute;
    width: calc(100% * (1 - var(--links-section-ratio)));
    height: calc(100% - var(--header-height));
    top: var(--header-height);
    background-color: var(--options-pullout-color);
    right: calc(-100% * (1 - var(--links-section-ratio)));
    z-index: 10;
    
    transition: right 0.2s ease-in-out;
}

#options-pullout.pulled-out {
    right: 0px;
}

.option-button {
    position: relative;
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    width: 100%;
    height: 8vw;
    line-height: 8vw;
    text-align: center;
    font-size: 3vw;
    background-color: var(--options-pullout-color);
    z-index: 11;
    user-select: none;
}

.option-button:hover {
    cursor: pointer;
    filter: var(--button-hover);
}

.option-button:active {
    filter: var(--button-active);
    z-index: 13;
}

.option-spacer {
    position: relative;
    width: 50%;
    height: 0.3vw;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 25%;
    background-color: var(--options-pullout-color);
    filter: var(--button-selected);
    z-index: 12;
    border-radius: 3px;

}

#about-text {
    --about-top-padding: 1.5vw;
    --about-side-padding: 5vw;
    position: absolute;
    border: 0px solid transparent;
    border-left-width: var(--about-side-padding);
    border-right-width: var(--about-side-padding);
    border-top-width: var(--about-top-padding);
    border-bottom-width: var(--about-top-padding);
    top: var(--header-height);
    height: calc(100% - var(--header-height) - var(--about-button-height));
    background-color: var(--links-section-background-color);
    overflow-y: scroll;
    z-index: 20;
    scrollbar-width: none;
}

#back-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--about-button-height);
    line-height: var(--about-button-height);
    background-color: var(--header-color);
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 3vw;
    z-index: 11;
    user-select: none;
}